<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41675004558-lg6a02ve9u9bh5c8iehcr88ohp7t5pu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41675004558-lg6a02ve9u9bh5c8iehcr88ohp7t5pu2</string>
	<key>API_KEY</key>
	<string>AIzaSyBPpJ5M1W83DEfFaa9wbTixJIPXDHe9v5g</string>
	<key>GCM_SENDER_ID</key>
	<string>41675004558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentest632021105</string>
	<key>PROJECT_ID</key>
	<string>fir-test-632021105</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-632021105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41675004558:ios:fecd98121f1a0e51a2c7df</string>
</dict>
</plist>